pkgbase = fish
	pkgdesc = Smart and user friendly shell intended mostly for interactive use
	pkgver = 3.6.2
	pkgrel = 1
	url = https://fishshell.com/
	install = fish.install
	arch = x86_64
	license = GPL2
	checkdepends = expect
	checkdepends = procps-ng
	makedepends = cmake
	makedepends = python-sphinx
	depends = glibc
	depends = gcc-libs
	depends = ncurses
	depends = pcre2
	optdepends = python: man page completion parser / web config tool
	optdepends = pkgfile: command-not-found hook
	backup = etc/fish/config.fish
	source = https://github.com/fish-shell/fish-shell/releases/download/3.6.2/fish-3.6.2.tar.xz
	source = https://github.com/fish-shell/fish-shell/releases/download/3.6.2/fish-3.6.2.tar.xz.asc
	validpgpkeys = 003837986104878835FA516D7A67D962D88A709A
	sha256sums = a21a6c986f1f80273895ba7e905fa80ad7e1a262ddb3d979efa443367eaf4863
	sha256sums = SKIP
	sha512sums = ee28b49a8c19cdc2613ed0b729eb6c8b686062a5e505357b045b67a64c9e4f5f6a308c58c6756a39c5edc4a9237afee9fc25763ce6b73b30cdb5ee5f21b2ac5d
	sha512sums = SKIP

pkgname = fish
